body {
    background-color: #EB645F;
}

marquee {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: #cee078;
    font-family: Abenda;
    font-size: 12px;
    background-color: transparent;
    white-space: nowrap;
  }

  .Forside-billede {
    max-width: 100%;
  }

@media (min-width: 800px) {
marquee {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: #cee078;
    font-size: 24px;
    background-color: transparent;
      }

.Forside_h1 {
    font-size: 100px;
}
}