body {
    background-color: #EB645F;
}

marquee {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: #cee078;
    font-family: Abenda;
    font-size: 12px;
    background-color: transparent;
    white-space: nowrap;
  }

main {
    min-height: 100vh;
    background: url(img/Forside-billede.webp) no-repeat;
    background-size: cover;
    background-position: center;
  }

.Logo-forside {
    max-width: 60%;
    margin-left: 24%;
    margin-top: 75%;
}

@media (min-width: 800px) {
marquee {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    color: #cee078;
    font-size: 24px;
    background-color: transparent;
    }

.Logo-forside {
    max-width: 40%;
    margin-left: 31%;
    margin-top: 7%;
    }
}