body {
    background-color: #ec70bf;
    margin: auto;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    max-width: 800px;
}

img {
    max-width: 100%;
}

footer {
    padding: 20px;
}

video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

h2 {
    padding-top: 48px;
}

h1, h2 {
    color: #A1D5FB;
}

p {
    color: #cee078;
}

.video video  {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
