
main {
text-align: center;
}
  
  body {
    
    line-height: 1.5;
    background-color: #A1D5FB;
  }
  
 
  
  header h1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  
  
  section {
    margin-bottom: 20px;
  }


li {
  margin-bottom: 0.5em;
  
}

.box1 {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Add spacing between the two elements */
  gap: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;

}

.box1 p {
  grid-row: 1;
}

.box1 ul li {
  grid-row: 2;
  padding-left: 20px;
  padding-right: 20px;;
}
 
.box1 ul li::before {
  content: "•";
  width: 1em;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.vertical-list li {
  margin-bottom: 10px;
}
.box2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.box3 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.box4 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}


.box1.unfold {
  max-height: 500px; /* Adjust this value to match the content height */
  transition: max-height 0.3s ease;}


  .box2.unfold2 {
    max-height: 503px; /* Adjust this value to match the content height */
    transition: max-height 0.3s ease;}


    .box3.unfold3 {
      max-height: 500px; /* Adjust this value to match the content height */
      transition: max-height 0.3s ease;}
      
      .box4.unfold4 {
        max-height: 500px; /* Adjust this value to match the content height */
        transition: max-height 0.3s ease;}

/*----------------- Kontakt formular css -----------------*/
body {font-family: Abenda;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #A1D5FB;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: Abenda;
  background-color: #cee078;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cee078;
}

::placeholder {
  font-family: Abenda;
  font-size: 12px;
}

.container {
  border-radius: 5px;
  padding: 80px;
}

#Kontakt-mig {
  text-align: center;
  margin-top: 80px;
margin-bottom: -50px;
}