
main {
text-align: center;
}
  
  body {
    
    line-height: 1.5;
    background-color: #A1D5FB;
  }
  
 
  
  header h1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  
  
  section {
    margin-bottom: 20px;
  }


li {
  margin-bottom: 0.5em;
  
}

/* .box1 {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Add spacing between the two elements */
  /* gap: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;

}  */

 /* .box1 p {
  grid-row: 1;
}

.box1 ul li {
  grid-row: 2;
  padding-left: 20px;
  padding-right: 20px;;
} */



.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .vertical-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.vertical-list li {
  margin-bottom: 10px;
  margin-top: 20px;
}

.box1 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}
.box2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.box3 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.box4 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}


.box1.unfold {
  max-height: 500px; /* Adjust this value to match the content height */
  transition: max-height 0.3s ease;}


  .box2.unfold2 {
    max-height: 503px; /* Adjust this value to match the content height */
    transition: max-height 0.3s ease;}


    .box3.unfold3 {
      max-height: 500px; /* Adjust this value to match the content height */
      transition: max-height 0.3s ease;}
      
      .box4.unfold4 {
        max-height: 500px; /* Adjust this value to match the content height */
        transition: max-height 0.3s ease;}

/* .grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-span: 2/3;
} */

img {
max-width: 100%;
}
